@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@100;500&family=Orbitron:wght@500&family=Playfair:wght@600&family=Six+Caps&display=swap");

* {
  box-sizing: border-box;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  font-weight: 500;
}

nav {
  color: rgb(244, 245, 235);
}
